<!DOCTYPE html>
{% extends "basic_app/base.html" %}
    {% block body_block %}
        <h1>Welcome to index</h1>
        <h2>This is index.html page showing!</h2>
        
        <!--view.py-->
        <!-- {'text':'hello world','number':100} -->
        
        <h3>{{ text }}</h3>
        <h3>{{ number }}</h3>
        <!-- hello world -->
        <!-- 100 -->

        <h3>{{ text|upper }}</h3>
        <h3>{{ number|add:"99" }}</h3>
        <!-- HELLO WORLD  -->
        <!-- 199 -->


        <!-- custom filter -->

        <h3>{{ text|cut:'hello' }}</h3>
        <!-- world -->


    {% endblock %}
